body {
    background: #fafafa;
    font: 700 16px/23px Axiforma,Arial,serif;
  }
  .main-form {
    margin: auto !important;
    padding-top: 45px;
  }
  h1{    
    width: fit-content;
    margin: auto;
    padding: 20px;
  }
  form i {
      margin-right: 30px;
      float: right;
      cursor: pointer;
      transform: translate(15px, 39px);
  }
  form i::before {
    font-size: 20px;
  }
  .btn-success  {
    background: #7b68ee !important;
    box-shadow: 0 10px 25px rgb(123 104 238 / 50%);
    margin: 25px 0 0!important;
    border-radius: 9px;
    border: none;
  }
  .btn-success:hover, .btn-success:active, .btn-success:focus {
    background: #8d7eed !important;
    box-shadow: 0 10px 25px rgb(123 104 238 / 50%);
    margin: 25px 0 0!important;
    border-radius: 9px;
    border: none;
  }
  .has-error input {
    box-shadow: 0 10px 25px rgb(253 113 175 / 30%);
  }
  .help-block {
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
  }
